/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

body {
	background: #74ebd5; /* Old browsers */
	background: -moz-linear-gradient(left, #74ebd5 0%, #acb6e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #74ebd5 0%,#acb6e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #74ebd5 0%,#acb6e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-size: 200% 200%;
	-webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
	height: 100%;
}

/* Animation Gradient */
	@-webkit-keyframes Animation {
		0%{background-position:10% 0%}
		50%{background-position:91% 100%}
		100%{background-position:10% 0%}
	}
	@-moz-keyframes Animation {
		0%{background-position:10% 0%}
		50%{background-position:91% 100%}
		100%{background-position:10% 0%}
	}
	@keyframes Animation { 
		0%{background-position:10% 0%}
		50%{background-position:91% 100%}
		100%{background-position:10% 0%}

	}
/* Animation Gradient */


/* Titel Font & Animation */
#title {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 80px;
		opacity: 1;
  		animation-name: topFadeOut;
  		animation-duration: 5s;
}

#subtitle {
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		padding-left:13px;
		opacity: 1;
  		animation-name: topFadeOut;
  		animation-duration: 5s;
}
 
 
	@keyframes topFadeOut 
	{
		  0% {
			opacity: 0;
		  }
		  100% {
			opacity: 1;
		  }
	}
/* Animation Title */


.centered {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.imgsize {
	width: 100px;
	height: 100px;
	 display:inline-block;
}